.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    flex-direction: row;
    width: 600px;
    overflow-x: scroll;
    border-right: 1px solid black;
    border-left: 1px solid black;
    box-sizing: border-box;


    .pros-container {
        width: 50%;
    }

    .cons-container {
        width: 50%;
    }

    .name {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 0;
        border-bottom: 1px solid black;
    }

    .line {
        width: 1px;
        height: 100vh;
        color: black;
        background-color: black;
    }

    .cards-container {
        margin-top: 20px;
    }

    .card {
        padding: 0.5rem 1rem;
        cursor: move;

        strong {
            margin-right: 10px;
        }

        input {
            border: none;
        }
    }
}